header {
    background-color: transparent;
    display: flex;
    position: fixed;
    width: 100%;
    nav {
     padding: 0 2vw;
     margin-left: auto;
     }
    .menu {
         list-style: none;
         padding: 0;
         margin: 0;
         display: flex;
         .menu-link {
              color: white;
              text-shadow:
              1.25px 1.25px 0 $color__purple,
              -0.75px -0.75px 0 $color__purple,  
              0.75px -0.75px 0 $color__purple,
              -0.75px 0.75px 0 $color__purple,
               0.75px 0.75px 0 $color__purple;
              padding: 1em;
              display: block;
              text-decoration: none;
              font-family: $font__heading;
              &:hover {
                   color: lighten($color__purple, 20%);
              }
         }
    }
}