body {
    font-family: $font__main;
}
h1, h2, h3 {
    font-family: $font__heading;
    color: $color__blue;
    text-shadow:
    2px 2px 0 $color__purple,
  -1px -1px 0 $color__purple,  
   1px -1px 0 $color__purple,
   -1px 1px 0 $color__purple,
    1px 1px 0 $color__purple;
}
h1 { font-size: 5vw; }
h2 { font-size: 4vw; }
h3 { font-size: 2.5vw; }
p { font-size: 2vw; }

h1 { margin: 0; }
h2 { margin: 0; }