$font__main: 'Helvetica', sans-serif;
$font__heading: "Francois One", sans-serif;

$color__blue: #5e88bf;
$color__green: #2FA456;
$color__purple: #692651;
$color__beige: #d9b07e;
$color__brown: #734b3d;

$color__background: #fce8d9;

$color__link: $color__blue;
$color__link-hover: darken($color__blue, 15%);